@tailwind base;
@tailwind components;
@tailwind utilities;

body {

}


h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

.container-text-test {
    position: relative;
    width: 100%;
}

.container-text {
    position: relative;
    width: 100%;
}

.container-text-fade {
    background: linear-gradient(rgba(255, 255, 255, 0), #fff);
    position: absolute;
    top: -1px;

}