	<header class="bg-gradient-to-r from-blue-400 via-slate-100 to-indigo-100 py-5 md:py-16">
		<div class="px-4 sm:max-w-screen-sm md:max-w-screen-lg mx-auto">
			<a href="/"><h1 class="text-4xl md:text-5xl font-bold">{{'Tech My Blog ' | trans }}</h1></a>
			<p>Le blog </p>
		</div>
	</header>